@import '../../styles/_utils';

.header {
    display: flex;
    background-color: $primary-color;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid $border-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .title {
        margin: 0;
        font-size: 1.9rem;
        color: $text-color;
        font-family: $font;

        @include lg {
            padding: 1rem;
        }
    }
}

