.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: $primary-color;
    border: 1px solid $font-color;
    font-family: $font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &__title {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 700;
        color: $font-color;
        letter-spacing: 0.5px;
        -webkit-text-stroke: 1px black;

        @include sm {
            font-size: 1.8rem;
        }

        @include md {
            font-size: 2rem;
        }

        @include lg {
            font-size: 2.2rem;
        }

        @include xl {
            font-size: 2.5rem;
        }
    }

    @include sm {
        padding: 0.75rem;
    }

    @include md {
        padding: 1rem;
    }

    @include lg {
        padding: 1.5rem;
    }

    @include xl {
        padding: 2rem;
    }


}

button {
    padding: 0.5rem 1rem;
    background-color: $font-color;
    border-radius: 4px;
    cursor: pointer;


    @include sm {
        padding: 0.6rem 1.2rem;
    }

    @include md {
        padding: 0.7rem 1.4rem;
    }

    @include lg {
        padding: 0.8rem 1.6rem;
    }

    @include xl {
        padding: 1rem 2rem;
    }
}