@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');

@import 'tailwindcss';

@import 'theme.css';

body {
  margin: 40px auto;
  padding: 0;
  max-width: 1270px;
}

.light {
  background-color: #f2eee9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dark {
  background-color: #59585e;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}